@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        font-family: orbitron;
        @apply text-[3.5rem] sm:text-[4rem] md:text-[8rem] lg:text-[10rem] xl:text-[14rem] font-bold leading-[5rem] md:leading-[10rem] lg:leading-[12rem] text-bg text-center
    }

    span.discography:hover {
        color: #FDC341
    }
    
    .discography-cover {
        @apply w-32 h-32 sm:w-40 sm:h-40 lg:w-52 lg:h-52 xl:w-64 xl:h-64 rounded-xl hover:scale-110 transition-all;
    }
    
    blockquote {
        font-family: 'Merriweather', serif;
    }

    .quote-sign {
        @apply mr-2 text-neutral-400 opacity-10 font-serif -ml-10 -mt-3 leading-none text-9xl absolute z-50
    }

    .social-img {
        @apply w-16 md:w-32 hover:invert hover:scale-125 transition-all
    }

    .social-icon {
        @apply text-7xl md:text-9xl hover:invert hover:scale-125 transition-all
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-complementary rounded-lg
    }

    ::-webkit-scrollbar-track {
        @apply bg-primary
    }
}

